body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  z-index: -10;
  background: url(./img/board.jpg);
}

/******************* OPTION BUTTON **********************/

button {
  background-color: transparent;
  color: rgb(44, 44, 177);
}

.dropdown {
  position: fixed;
  margin: 5px;
  background-color: rgb(0, 255, 200);
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin: 3px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
}

.bodyContainer {
  height: 100vh;
  margin: 0%;
  padding: 0%;
}

.show {
  display: flex;
  flex-direction: column;
}

/***************** TODO BODY **************/

.titulo {
  margin: 0;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(26, 152, 236);
  width: 100%;
}

.to-do-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.element {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
/******************************** style butons and screen *****************************/

.todos1{
  display: flex;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.nule{
  display: none;
}


.agregar {
  display: inline;
  margin: 5px;
}

.stopx{
display: none;
}
.tutorialX{
display: none;
}

/* ************************************************************************************* */

.todo {
  margin: 30px;
  background-color: rgb(0, 238, 255);
  border: 1px solid black;
  max-width: 280px;
  min-width: 110px;
  max-height: 480px;
  min-height: 80px;
  word-wrap: break-word;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 17%;
}

.delete-buton {
  width: 50%;
}

.update-buton {
  width: 50%;
}

/****************** TUTORIAL SECTION *******************/

.image {
  position: fixed;
  top: 77%;
  right: 15%;
}

.guia1 {
  display: none;
}
/****************************** animacion de la guia  ***********************************/
.guia1x {
  animation: tutorial 10s linear infinite;
}

@keyframes tutorial {
  0% {}
  100% {}
}
/* *************************************************** */


.img {
  width: 312px;
  height: 273px;
  /* position: fixed; */
  transform: scaleX(-1);
}
.imgx{
  display: none;
}

.guiachat{
  width: 271px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  top: 52%;
  right: 13%;
}

.paragraph{
  position: fixed;
  z-index: 10;
}
.paragraphx{
  display: none;
}